




* {
    outline : none;
    box-sizing: border-box;
}

html {
	font-size:62.5%;
}



body {

	font-size:1.6rem;/* 16 px*/
    font-family: 'Open Sans', sans-serif;
    color: #4d443c;
    background-color:#ccd4e4  ;
}


h1 {
    font-size: 5rem;
    margin:20px;
    font-family: 'Oswald', sans-serif;

}

h2, h3, h4 {
  text-align: center;
  font-weight: thicker;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size:3rem
}



#top-menu {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin : 0 auto;
    align-items: center;
    font-size: 3rem;
    background-color:white;

}

#short-menu {
    font-size: 5rem;
    margin:20px;
    display:none;
}


a {
    text-decoration: none;
    color: inherit;
}
nav a {

    color: #4d443c;
    transition: all 0.3s ease 0s;

}

nav a:hover {
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
}



@media screen and (max-width: 480px) {

    #top-menu  {
        flex-direction: column;
        align-content: space-around;
    }
}


#banner-welcome{
    background: url('../images/mark-mialik-van-lac-petit-droit-16-9-chaud.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: space-around;


    /* utile pour voir assez d'image */
    padding-top:10%;
    padding-bottom:20%;
    padding-left:5%;
    padding-right:5%;

    color: white;

}

#title-welcome {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-shadow:1px 1px 2px #4d443c;
    font-size: 8rem;
    font-style: italic;
    font-weight: bolder;
    /* align-items:center; */



}
#aside-reservation {
    color : white;
    border-top :3px solid white;
    border-bottom :3px solid white;
    padding: 1rem;

}




@media screen and (max-width: 480px) {

    #banner-welcome {
        flex-direction: column;
        align-content: space-around;
    }
}



#aside-reservation form {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;

}

@media screen and (max-width: 480px) {

    #aside-reservation form {
        /* display : flex;
        flex-direction: column;
        align-content: space-around; */
        display:grid;
        grid-template-columns:1fr;
        grid-row-gap: 0.5em;

    }
}

#aside-reservation h3{
    /* grid-column: 1 / 3;
    grid-row: 1 / 2; */
    font-style:thicker;
    text-transform: uppercase;
    color : white;



}
#error {
    color:tomato;
    background-color: white;
    font-style: italic;
    text-align: center;
    border-radius: 5px;
    padding:20px;
    margin-bottom :5px;

}

#aside-reservation input {
    border-radius: 5px;
}

#aside-reservation #effacer {
    background-color: lightgrey;
    border-color: lightgrey;
    color:white;
    /* grid-column: 1 / span 2; */
    grid-row: 5;
    border-radius: 5px;
}

#aside-reservation #effacer:hover {
    background-color: white;
    border-color: white;
    color:lightgrey;

}

#aside-reservation #reserver {
    background-color: tomato;
    border-color:  tomato;
    color:white;
    /* grid-column: 3 / span 2; */
    grid-row: 5;
    border-radius: 5px;

}

#aside-reservation #reserver:hover {
    background-color: white;
    border-color: white ;
    color:tomato;
}


.container {
    width: 90%;
    margin: 0 auto;
}


#concept {
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; /*10px;*/
    text-align: center;
    vertical-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 480px) {

    #concept {
        grid-template-columns:1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 3rem;
    }
}

#concept article {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
    padding: 20px;
    box-shadow: 6px 2px 11px -2px rgba(73,60,69,0.42);
    -webkit-box-shadow: 6px 2px 11px -2px rgba(73,60,69,0.42);
    -moz-box-shadow: 6px 2px 11px -2px rgba(73,60,69,0.42);
    transition: all 0.3s ease 0s;
}


#concept article:hover {
    -webkit-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    transform: translate(0, -5px);
    /* background-color:#4d443c; */
    background-color:#628FAB;
    background-color:tomato;
    font-weight:bolder;
    /* opacity: 0.5; */
    color:white;
}

#concept .fa-check {
    /*flex-basis: 100%;*/
    padding-bottom: 10px;
    color:tomato;
}

#concept div {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer {
    background-color:#4d443c; /* RGB 73, 60, 69*/
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    /* height: 100%;*/
}

footer nav {

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);  */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5vh;

}


@media screen and (max-width: 480px) {
    footer nav {
        flex-direction: column;
        height: 100%;
        align-content: space-around;
    }
}

footer a {
    color : white;
    padding:5px;
}

footer .fa {
    font-size:2rem;
}

/* Page Booking */


section#booking
{
    /* background-color: white; */
    display:flex;
    flex-direction: column;
}
section#booking article {
    border:none;
    background-color:white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem; /*10px;*/
    grid-row-gap: 0.5em;
    line-height: 1.5;
    padding: 20px;
    margin: 10px;

 }

 section#booking h3 {
    grid-column: 1  / span 4;
 }

  section#booking #buttons {
    grid-column: 1  / span 4;
     display:flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
 }


 section#booking #effacer {
    background-color: white;
    border-color: white;
    color:#4d443c;
    /* grid-column: 1 / span 2; */
    /* grid-row: 8; */
    border-radius: 5px;
    padding : 10px;
    width: 20%;
    border : #ccd4e4 1px solid;

}

section#booking #reserver {
    background-color: #628FAB;
    border-color:  #628FAB;
    color:white;
    /* grid-column: 3 / span 2; */
    /* grid-row: 8; */
    border-radius: 5px;
    padding : 10px;
    width: 20%;
    border : #ccd4e4 1px solid;

}

@media screen and (max-width: 480px) {
    section#booking article {
        grid-template-columns: repeat(2, 1fr);
    }
    section#booking #buttons{
        flex-direction: column;
    }
}

section#notification {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items:center;
}


section#messagepage {
    display: flex;
    flex-direction: column;
    align-items:center;
}

div#message {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size:2rem;
    color: #628FAB;
    background-color: white;
    border-radius :10px;
    padding:20px;
    margin: 50px;
    width:50%;
}

.errors {
    color: tomato;
}

section#packs li {
  list-style:none;
}

#packs ul {
  width: 60%;
  align-self: center;
}

#packs .fa-check {
  color:#628FAB;
}


#packs {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

#agencies{
  display : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem; /*10px;*/
  text-align: center;
  vertical-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 480px) {

    #agencies {
        grid-template-columns:1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 3rem;
    }
}

#packs article {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    line-height: 1.5;
    padding: 10px 50px;
    margin-top: 15px;
    box-shadow: 6px 2px 11px -2px rgba(73,60,69,0.42);
    -webkit-box-shadow: 6px 2px 11px -2px rgba(73,60,69,0.42);
    -moz-box-shadow: 6px 2px 11px -2px rgba(73,60,69,0.42);

}
.stars{
  display: flex;
  align-self: center;
}


/* .roundedImage{ */

    /* overflow:hidden; */
    /* -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;

    width:90px;
    height:90px;

    align-self: center; */
    /* background: no-repeat center; */
     /* background-size: contain;
    -webkit-background-size: contain;  */
    /* background-position:50% 50%; */
    /* background-repeat: no-repeat; */

/* } */

#vehicles img{
    align-self: center;
    background: no-repeat center;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    width:auto;
    height:120px;

}

.card {
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    line-height: 1.5;
    padding: 20px 50px;
    margin: 60px;

    box-shadow: 6px 2px 11px -2px rgba(73,60,69,0.42);
    -webkit-box-shadow: 6px 2px 11px -2px rgba(73,60,69,0.42);
    -moz-box-shadow: 6px 2px 11px -2px rgba(73,60,69,0.42);

}
