


  <section id="agencies" class="container">


          <?php foreach ($agencies as $agency): ?>
            <article class="card">
              <h3>Agence <?=$agency["ZONE"]?></h3>


              <input type="hidden" value="<?=$agency["ID"]?>">




                    <div><?=$agency["LINE_1"]?></div>
                    <div><?=$agency["LINE_2"]?></div>

                    <div><?=$agency["ZIP_CODE"]?> <?=$agency["CITY"]?>, <?=$agency["COUNTRY"]?></div>

                    <div>Tel : <?=$agency["PHONE"]?></div>


              </article>


           <?php endforeach; ?>
