
<section id="booking" class="container">


<form method="POST" id="booking-form" action="validation.php">  



    <article>
        
        <h3> Je complète ma demande </h3>
        <?php foreach ($errors as $error): ?>
            <div id="error">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

                <?=$error?>
            </div>
        <?php endforeach; ?>
        <label for="nom">Nom </label> 
        <input type="text" id="nom" name="name" required >


        <label for="prenom">Prénom</label> 
        <input type="text" id="prenom" name="firstName" required>


        <label for="telephone">Téléphone</label> 
        <input type="tel" id="telephone" name="phone" required>


        <label for="email">Email</label> 
        <input type="email" id="email" name="mail" required>


        <label for="adresseL1">Adresse</label> 
        <input type="text" id="adresseL1" name="addressLine1" required>

        <label for="adresseL2">Complément d'adresse</label> 
        <input type="text" id="adresseL2" name="addressLine2">

        <label for="codePostal">Code Postal</label> 
        <input type="text" id="codePostal" name="zipCode" required>

        <label for="ville">Ville</label> 
        <input type="text" id="ville" name="city" required>
  

        <label for="dateDebut">Date de début</label> 
        <input type="datetime" id="dateDebut" name="startingDate" value="<?=$userBooking['userStartingDate']?>">
  

        <label for="dateFin">Date de fin</label>
        <input type="datetime" id="dateFin" name="endDate" value="<?=$userBooking['userEndDate']?>">
            

        <label for="agence">Agence de départ</label>
        <!-- <input type="text" id="agence" name="shop"> -->
            <select id="agence" name="shop">
                <?php foreach ($agencies as $agency): ?>
                    <option value="<?=$agency['ID']?>" 
                    <?php if ( $agency['ID']==$userBooking['userShop'] ): ?>
                    selected
                    <?php endif; ?> >
                        <?=$agency['ZONE']?>
                    </option>
                <?php endforeach; ?>
            </select>
        
        <label for="vehicule">Type de véhicule   </label>                         
            <select id="van" name="vehicule"> 
                <?php foreach ($vehicles as $vehicle): ?>
                    <option value="<?=$vehicle['ID']?>" <?php if ( $vehicle['ID']==$userBooking['userVehicle'] ): ?>
                        selected
                    <?php endif; ?>>
                    <?=$vehicle['NAME']?>&nbsp;(<?=$vehicle['NB_PERSON']?>&nbsp;places)</option>
                <?php endforeach; ?>
            </select>
        <div id="buttons">
            <button type="reset" id="effacer">Effacer</button>
            <button type="submit" id="reserver">Valider ma réservation</button>
        </div> 
    </article>
                       

</form>

</section>

