
<section class="text-page">

  <h2>
    Crédit Photos
  </h2>

  <div class="card">
    <p>Pedro Diaz Rodriguez de la Fuente y Aragon</p>
    <p>Mark Mialik</p>
    <p>Volkswagen</p>
    <p>Fiat</p>
    <p>Nissan</p>
</div>

</section>
