<section id="banner-welcome">
                    <h2 id="title-welcome">Evadez-vous</h2>


                    <aside id="aside-reservation">
                        <h3>Je réserve mon van aménagé</h3>
                        <?php foreach ($errors as $error): ?>
                            <div id="error">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>

                                <?=$error?>
                            </div>
                        <?php endforeach; ?><form method="POST" action="./booking.php">

                            <label for="dateDebut">Date de début</label>
                            <input type="datetime" id="dateDebut" name="startingDate" required>


                            <label for="dateFin">Date de fin</label>
                            <input type="datetime" id="dateFin" name="endDate" required>


                            <label for="agencesListe">Agence de départ</label>
                            <!-- <input type="text" id="agence" name="shop"> -->
                                <select id="agencesListe" name="shop">
                                    <?php var_dump($agencies); ?>
                                    <?php foreach ($agencies as $agency): ?>
                                        <option value="<?=$agency['ID']?>"><?=$agency['ZONE']?></option>
                                    <?php endforeach; ?>
                                </select>

                            <label for="van">Type de véhicule   </label>
                                <select id="van" name="vehicle">
                                    <?php foreach ($vehicles as $vehicle): ?>
                                        <option value="<?=$vehicle['ID']?>"><?=$vehicle['NAME']?>&nbsp;(<?=$vehicle['NB_PERSON']?>&nbsp;places)</option>
                                    <?php endforeach; ?>
                                </select>

                            <button type="reset" id="effacer">Effacer</button>
                            <button type="submit" id="reserver">Réserver</button>


                        </form>
                    </aside>

                </section>
        <section id="concept" class="container">


                <article>
                  <a href="./vehicles.php"><div><!--préserve la hauteur-->

                    <i class="fa fa-check" aria-hidden="true"></i>
                    <div>Dimensions permettant de passer partout contrairement aux camping-cars</div>

                  </div></a>
                </article>


                <article>
                  <a href="./packs.php"><div>

                        <i class="fa fa-check" aria-hidden="true"></i>
                        <div>Véhicules tout équipés pour l'évasion : 3 formules de confort</div>

                  </div></a>

                </article>


                <article>
                  <a href="./agencies.php"><div>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <div>Des spécialistes passionnés à votre écoute</div>
                    </div></a>
                </article>

        </section>

        <section id="temoignages" class="container"></section>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" charset="utf-8"></script>


<script type="text/javascript">



/* Date time picker https://xdsoft.net */
$( function() {
  let today = new Date();
    $('#dateDebut').datetimepicker({
    type: 'datetime',
    lang:'fr',
    dayOfWeekStart:1,
    format:'d/m/Y H:i',
    minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours()+2, today.getMinutes()+30),
    maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()+365, today.getHours()),
    allowTimes:[
        '09:00', '10:00', '11:00',
        '14:00', '15:00', '16:00', '17:00'
    ],
    disabledWeekDays:[0, 6]
  });
} );

$( function() {
  let today = new Date();
    $('#dateFin').datetimepicker({
    type: 'datetime',
    lang:'fr',
    dayOfWeekStart:1,
    format:'d/m/Y H:i',
    minDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), today.getHours()+2, today.getMinutes()+30),
    maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate()+365, today.getHours()),
    allowTimes:[
        '09:00', '10:00', '11:00',
        '14:00', '15:00', '16:00', '17:00'
    ],
    disabledWeekDays:[0, 6]
  });
} );
</script>
