<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<?=PATH_PAGES ?>font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.14/jquery.datetimepicker.min.css
    ">
	<link rel="stylesheet" href="<?=PATH_PAGES ?>CSS/normalize.css">
    <link href="<?=PATH_PAGES ?>CSS/style.css" rel="stylesheet" type="text/css"/>

   <!-- Librairie JSjQuery -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <title>Roadtrip van</title>

</head>
<body>
    <header>
        <nav id="top-menu"><!--TODO Rendre fixe ?-->
            <a href="./index.php" id="logo-menu"><h1>RoadTrip Vans</h1></a>

                <a href="./vehicles.php">Voir les vans</a>
                <a href="./packs.php">Formules tarifaires</a>
                <a href="./agencies.php">Agences</a>

            <!--TODO : pour les mobiles-->
            <div id="short-menu">
                <a href="#"><i class="fa fa-bars" aria-hidden="false"></i></a><!--Soit hamburger, soit lien -->
            </div>
            </nav>
    </header>
     <main>
        <!-- Chargement du template PHTML spécifié par le programme PHP -->


        <?php include $template.'.phtml' ?>
    </main>
    <footer>
        <nav class="container">

            <a href="./dispatch.php?to=cgl">
                CGL
            </a>
            <a href="./dispatch.php?to=legal">
                Mentions légales
            </a>

            <a href="./dispatch.php?to=faq">
                    FAQ
            </a>

            <a href="#">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;

            </a>
            <a href="#">
                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            </a>

            <a href="./agencies.php">
                    Nous contacter
            </a>


        </nav>

    </footer>
<script src="<?=PATH_PAGES ?>JS/main.js"></script>
</body>
