
<section class="container" id="messagepage">
    <div id="message">

        <?php foreach ($errors as $error): ?>
            <div class='errors'>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <?=$error?>
            </div>
        <?php endforeach; ?>
        <?php foreach ($messages as $message): ?>
            <div class='notifications'>
            <i class="fa fa-check" aria-hidden="true"></i>
            <?=$message?>
            </div>
        <?php endforeach; ?>
    </div>
</section>
