

<section id="packs" class="container">

        <article class="card">
            <!--i class="fa fa-check" aria-hidden="true"></i-->
            <h3>Formule Standard</h3>
              <div class="stars">
                <i class="fa fa-star"></i>
              </div>
              <ul>
                <li><i class="fa fa-check"></i> Banquettes lits avec protèges-matelas</li>
                <li><i class="fa fa-check"></i> Rideaux occultants</li>
                <li><i class="fa fa-check"></i> Table</li>
                <li><i class="fa fa-check"></i> Cuisinette avec rangement, point d'eau, frigo, réchaud gaz</li>
                <li><i class="fa fa-check"></i> Kit ustensiles et vaisselle de base</li>
                <li><i class="fa fa-check"></i> Espaces de rangement</li>
                <li><i class="fa fa-check"></i> Climatisation</li>
                <li><i class="fa fa-check"></i> Chauffage stationnaire</li>
                <li><i class="fa fa-check"></i> Autoradio CD/MP3</li>
                <li><i class="fa fa-check"></i> Régulateur de vitesse</li>


              </ul>
          </article>


          <article class="card">
              <!--i class="fa fa-check" aria-hidden="true"></i-->
              <h3>Formule Sérénité</h3>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <ul>
                  <li><i class="fa fa-check"></i> Equipements de la formule standard</li>
                  <li><i class="fa fa-check"></i> GPS</li>
                  <li><i class="fa fa-check"></i> WC Chimique</li>
                  <li><i class="fa fa-check"></i> Kit literie</li>
                </ul>
          </article>


          <article class="card">
              <!--i class="fa fa-check" aria-hidden="true"></i-->
              <h3>Formule Sportifs</h3>
                <div class="stars">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <ul>
                  <li><i class="fa fa-check"></i> Equipements de la formule standard</li>
                  <li><i class="fa fa-check"></i> Barre de toit</li>
                  <li><i class="fa fa-check"></i> GPS</li>
                  <li><i class="fa fa-check"></i> Porte vélo (sur demande)</li>
                  <li><i class="fa fa-check"></i> Pneus neige (sur demande)</li>
                </ul>
          </article>

</section>
