

 <section id="vehicles" class="container">
         <h2>Nos van aménagés</h2>

         <?php foreach ($vehicleTypes as $vehicle): ?>
           <article class="card">
             <h3><?=$vehicle["NAME"]?></h3>


                  <input type="hidden" value="<?=$vehicle["ID"]?>">
                    <img class="avatar" src="<?=PATH_IMAGES ?><?=$vehicle["URL_IMAGE"]?>" alt="Van image">
                
                    <h4>
                    Nombre de personnes : <?=$vehicle["NB_PERSON"]?> </h4>

                    <h4>
                    Description
                  </h4>
                    <p> <?=$vehicle["DESCRIPTION"]?>
                  </p>
             </article>

          <?php endforeach; ?>
